/* footer */

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer_item h3{
    font-size: 18px;
    line-height: 21px;
    margin: 2rem 0;
    padding-left: 0;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

ul li{
    margin-bottom: 15px;
}

ul li a{
    text-decoration: none;
    color: #000000;
    
}

/* Tablette */
@media only screen and (min-width:768px) and (max-width:992px){

    footer{
        width: auto;
    }
}

/* Téléphone */
@media only screen and (max-width:767px){
    footer{
        flex-direction: column;
    }

    .footer_item{
        margin-left: 3%;
    }

}
