header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
}

.logo{
    height:19px;
    width: auto;
    color: #0065FC;
}

/* Téléphone */
@media only screen and (max-width:767px){

    header{
        display: flex;
        flex-direction: column;
        align-items:normal;
        padding-top: 10px;
    }

    .logo{
        width: 20%;
        height: auto;
        margin: auto;
        padding-bottom: 2rem;
    }

}