header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0em;
}

.logo{
    height:19px;
    width: auto;
    color: #0065FC;
}

/* Téléphone */
@media only screen and (max-width:767px){

    header{
        display: flex;
        flex-direction: column;
    }

    .logo{
        width: 10%;
        height: auto;
        margin: auto;
        padding-bottom: 2rem;
    }

}